<<<<<<< HEAD
/** @format */

=======
>>>>>>> 8de82e85691d9d94dd98b9a587011e2f47145186
.Slider {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/* background:  linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.2)); */
