/* .services{
    display: inline-block;
    margin: 0 5%;
    background-color: rgb(185, 185, 185);
    width: 90%;
    height: 100vh;
}
.services li{
    padding: 5%;
    width: 39.56%;
    height: 100vh;
    display: inline-block;
} */