.servicees {
  display: inline-block;
  /* background-color: rgb(185, 185, 185); */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.Filter {
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1% 0 0 0;
  text-decoration: uppercase;
}
.Filter_Item {
  cursor: pointer;
  color: #fff;
  border: 1px solid #000;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  width: 18%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Filter_Item:hover {
  text-align: center;
  /* background-color: #526837; */
  transform: scale(1.1);
  background-color: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}

@media only screen and (max-width: 600px) {
  .servicees {
    display: flex;
    flex-direction: column;
  }
  .Filter {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-around;
    padding: 5% 0;
  }
  .Filter_Item {
    display: flex;
    flex-direction: column;
    height: 13vh;
    justify-content: center;
    width: 98%;
  }
}

@media only screen and (min-width: 600px) {
  .servicees {
    height: 100%;
  }
  .Filter {
    padding: 5% 0;
  }
}

@media only screen and (min-width: 768px) {
  .servicees {
    height: 100%;
  }
  .Filter {
    height: 30vh;
    padding: 5% 0;
  }
}
@media only screen and (min-width: 992px) {
  .servicees {
    height: 100%;
  }
  .Filter {
    height: 30vh;
    padding: 5% 0;
  }
}
@media only screen and (min-width: 1200px) {
  .servicees {
    height: 100%;
  }
  .Filter {
    height: 50vh;
    padding: 3% 0;
  }
}

@media only screen and (min-width: 1400px) {
  .servicees {
    display: inline-block;
    /* background-color: rgb(185, 185, 185); */
    width: 98%;
  }

  .Filter {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-decoration: uppercase;
  }
}
