.About {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #61892f;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 10% 0;
  
}
.Text {
  margin: auto;
  width: 50%;
}
.Text_Icon {
  border-radius: 50%;
  border: 1px solid rgb(153, 219, 72);
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.Text p,
.Text h3 {
  width: 100%;
  
}
