<<<<<<< HEAD
/** @format */

=======
>>>>>>> 8de82e85691d9d94dd98b9a587011e2f47145186
.Gallery {
  height: 100vh;
  width: 100%;
  display: inline-block;
}
.Gallery img {
  height: 30%;
  width: 30%;
  display: inline-block;
}
