
.Navigatmeniu {
    color: rgb(255, 255, 255);
    text-decoration: none;
} 
.Navigatmeniu ul {
    display: inline-block;
    justify-content: space-between;
    width: 100%;
    color: #000;
    margin: 0;
    padding: 0;
}
.Navigatmeniu li {
    display: block;
    padding-top: 2%;
}
.Navigatmeniu a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Navigatmeniu a:hover {
    display: block;
    text-decoration: none;
    font-weight: bold;
}