.gallery {
  width: 500px;
  height: auto;
  overflow: hidden;
  display: block;
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  filter: drop-shadow(8px 8px 10px gray);
  border-radius: 5px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.gallery:hover {opacity: 0.7;}

.gallery button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #61892f;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.gallery:hover button {
  background-color: #283d0f;
}
