.Foote {
  display:relative;
  height: auto;
  text-decoration: none;
  background-color: #61892f; /*#61892f  #61fc07c9;*/
  font-size: 17px;
  width: 100%;
}
.Foote ul {
  display: block;
  text-align: center;
}
.Foote p {
  padding-bottom: 2%;
  margin-bottom: 0px;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .Foote ul  {
  display: none;
  
}
.Foote p {
  padding: 20px 0;
  margin: 0 10%;
  width: 80%;
  text-align: center;
}
}