<<<<<<< HEAD
/** @format */

=======
>>>>>>> 8de82e85691d9d94dd98b9a587011e2f47145186
.Foote {
  height: auto;
  text-decoration: none;
  background-color: #61892f; /*#61892f  #61fc07c9;*/
  font-size: 17px;
}
.Foote ul {
  display: block;
  text-align: center;
}
.Foote p {
  padding-bottom: 2%;
  margin-bottom: 0px;
  display: block;
  text-align: center;
}
