.ImageGrid {
  display: flex;
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid #61892f;
}
.ImageGrid_Gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 49%;
  height: 100%;
  vertical-align: top;
  word-wrap: break-word;
}
.ImageGrid_Gallery h2{
  text-align: center;
  letter-spacing: 1px;
}
.ImageGrid_Gallery p {
  margin: 1em 5%;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 130%;
}

