.ImageGrid {
  display: flex;
  width: 100%;
  border-top: 1px solid #61892f;
  /* border-bottom: 1px solid #61892f; */
  vertical-align: middle;
  padding: 5% 0;
  /* background-color:rgba(189, 188, 188, 0.301); */
  /* border-radius: 5px; */
}
.ImageGrid_Gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 49%;
  word-wrap: break-word;
}
.ImageGrid_Gallery h2 {
  text-align: center;
  letter-spacing: 1px;
}
.ImageGrid_Gallery p {
  margin: 1em 5%;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 130%;
}

@media only screen and (max-width: 992px) {
  .ImageGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
  .ImageGrid_Gallery {
  width:  90%;
  word-wrap: break-word;
  margin: auto;
  padding: 50px 0;
  justify-content: space-between;
}
.ImageGrid_Gallery h2 {
  letter-spacing: normal;
  font-size: 110%;
}
.ImageGrid_Gallery p {
  margin: 0;
  letter-spacing: normal;
  line-height: auto;
  font-size: 80%;
}

}