.Certificates {
    display: flex ;
}
.Certificates img {
    width: 200px ;
    justify-content: space-around;
    margin: 40px 0;
    border: 3px solid rgb(71, 71, 71);
    border-radius: 3px solid #000;
    box-shadow: 5px 5px 5px 5px rgb(172, 172, 172);
}

.Certificates img:hover {
    border: 3px solid rgb(71, 71, 71);
    transform-style: preserve-3d;
    transform: rotateX(8deg);
    transition: transform .2s ease-in-out;
}
