.Nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(65, 63, 63, 0.356);
  z-index: 1;
  box-shadow: 0 8px 6px -6px black;
  color:#fff;
}
/* const navStyle = {
    display: 'flex',
    position: 'fixed',
    justifyContent: 'space-between',
    width: '100%',
    padding: '10px 10px',
    backgroundColor: 'rgba(65, 63, 63, 0.356)',
    zIndex: '1',
    boxShadow: '0 4px 3px 0px rgb(20, 20, 20)',
  } */