.ServicesStyle {
  height: auto;
  color: #99db48;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.SserviceList {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
}

.ServicesStyle h2 {
  color: #60892fc2;
  font-size: 30px;
  margin: 0;
  padding: 5% 0 0 0;
  text-align: center;
}
