.Form {
  text-align: center;
  margin: auto 50px;
}
.Form label input {
  height: 0;
  width: 0;
  opacity: 0;
}
.Form label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}
.Form label:hover {
  background: black;
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: black;
}
/* image grid styles */
.img_grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.img_wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img_wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
}
